# Access
ALLOWED_HOSTS="*"
MAINTENANCE_MODE=False

# Admin
ADMIN_ENABLED=True
ADMIN_URL_PATH="manage/"
ADMIN_ACE_THEME="chrome"
ADMIN_THEME_EDITABLE=True

# API
API_ENABLED=True
API_THROTTLE_ENABLED=True
API_DEFAULT_PAGE_SIZE=10
API_MAX_PAGE_SIZE=100
API_THROTTLE_RATE_ANON="60/min"
API_THROTTLE_RATE_USER="60/min"

# Auth
AUTH_HEADLESS_ONLY=False
AUTH_CONFIRM_EMAIL_URL=http://localhost:3000/account/verify-email/{key}
AUTH_RESET_PASSWORD_URL=http://localhost:3000/account/password/reset/key/{key}
AUTH_REGISTER_URL=http://localhost:3000/account/signup

# AWS
AWS_ACCESS_KEY_ID=MY_AWS_ACCESS_KEY
AWS_DEFAULT_REGION=MY_AWS_REGION
AWS_SECRET_ACCESS_KEY=MY_AWS_SECRET_KEY
AWS_STORAGE_BUCKET_NAME=MY_AWS_BUCKET_NAME


# Cache
REDIS_URL=redis://localhost:6379
CACHE_KEY_PREFIX=""
CACHE_ENABLED=False
CACHE_TIMEOUT_DEFAULT=300
CACHE_TIMEOUT_LONG=3600
CACHE_TIMEOUT_SHORT=10
CACHE_VERSION=1


# CORS
CORS_ALLOW_ALL_ORIGINS=True
CORS_ALLOW_HEADERS=corsheaders.defaults.default_headers
CORS_ALLOW_METHODS=corsheaders.defaults.default_methods
CORS_ALLOWED_ORIGIN_REGEXES=[]
CORS_ALLOWED_ORIGINS=""
CORS_URLS_REGEX=r"^.*$"

# Database
DATABASE_URL=postgres://postgres:postgres@localhost:5432/postgres

# Develop
DEBUG=True

# Environment
ENVIRONMENT=develop

# i18n
LANGUAGE_CODE="en"
TIME_ZONE="UTC"

# Logging
SENTRY_DNS=None
SENTRY_TRACES_SAMPLE_RATE=1.0

# Security
SECRET_KEY=CHANGE_ME
SECURE_SSL_REDIRECT=False

# Twilio
TWILIO_ACCOUNT_SID=CHANGE_ME
TWILIO_AUTH_TOKEN=CHANGE_ME
TWILIO_FROM_NUMBER=CHANGE_ME

# Worker
AMQP_URL=amqp://rabbitmq:rabbitmq@localhost:5672
CELERY_MAX_RETRIES=3
CELERY_RETRY_BACKOFF=True
